@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

head {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    position: relative;
}

img {
    width: 100%;
}

h1 {
    line-height: 1.25;
}

.flex-col {
    flex-direction: column !important;
}

.flex {
    display: flex !important;
}

.navbar {
    height: 165px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;
}

.align-center {
    align-items: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.navbar .logo {
    height: 80px;
    width: 80px;
}

.navbar .links {
    display: flex;
    width: 100%;
    max-width: 430px;
}

.navbar .link {
    position: relative;
}

.navbar .router-link-exact-active {
    color: #6030b1 !important;
}

.navbar a {
    color: #0a1f44 !important;
    text-decoration: none;
}

a.btn-contact {
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 40px;
    align-items: center;
    border: 2px #5d3eff;
    border-radius: 50px;
    background-color: #6030b1;
    color: #fff !important;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

input {
    color: rgba(0, 0, 0, .87);
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
}

.input-wrap {
    width: 100%;
    max-width: 600px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}

.search-wrapper {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    padding: 0 20px 0 8px;
    color: #6030b1;
    font-size: 32px;
}