@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

head {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    position: relative;
}

img {
    width: 100%;
}

.flex-col {
    flex-direction: column !important;
}

.flex {
    display: flex !important;
}

.navbar {
    height: 165px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;
}

.align-center {
    align-items: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.navbar .logo {
    height: 80px;
    width: 80px;
}

.navbar .links {
    display: flex;
    width: 100%;
    max-width: 430px;
}